[Unit]
Description=Start TARS Docker Containers
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
ExecStart=/bin/bash /home/vrushankpatel/TARS/tars start all
ExecStart=/usr/bin/sudo /bin/bash -c "cd /home/vrushankpatel/TARS && ./start_backend.sh"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target